*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Primary */
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);

    /* Font Weights */
    --thin: 400;
    --regular: 500;
    --bold: 600;  
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: var(--regular);
    background-image: linear-gradient(to bottom right, var(--white), var(--grey-200));
    margin: 0;
    max-width: 1440px;
    
}

.main {
    height: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 7%;
}

.card {
    width: 100%;
    border-radius: 8px;
    margin: 1rem;
    padding: 1.5rem;
    filter: drop-shadow(30px 80px 100px var(--grey-200));
}

.quotation__img--div {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 3rem;
}

.card--header {
    display: flex;
    align-items: center;
    line-height: .7;
}

.testimonial__text {
    line-height: 1.4;
}

.profile__img {
    border-radius: 50%;
    margin-right: 1rem;
    width: 1.6rem;
}

.username {
    font-size: .7rem;
}

.verified {
    font-size: .6rem;
    font-weight: var(--thin);
}

.testimonial__title {
    font-size: 1.1rem;
    font-weight: var(--bold);
    padding: 1rem 0;
}

.testimonial__text {
    font-size: .723rem;
    font-weight: var(--thin);
}

.first {
    background-color: var(--purple-500);
    color: var(--purple-50);
    grid-area: first;
}

.first .profile__img {
    border: var(--purple-300) 2px solid;
}

.second {
    background-color: var(--grey-500);
    color: var(--white);
    grid-area: second;
}

.second .profile__img {
    border: var(--grey-200) 2px solid;
}

.third {
    background-color: var(--white);
    color: var(--grey-500);
    grid-area: third;
}

.third .profile__img {
    border: var(--grey-400) 2px solid;
}

.fourth {
    background-color: var(--dark-blue);
    color: var(--grey-200);
    grid-area: fourth;
}

.fourth .profile__img {
    border: var(--purple-500) 2px solid;
}

.fifth {
    background-color: var(--white);
    color: var(--grey-500);
    grid-area: fifth;
}

.fifth .profile__img {
    border: var(--grey-200) 2px solid;
}

@media only screen and (min-width: 600px) {

    .main {
        flex-grow: 1;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "first   first"
        "second  third"
        "fourth fourth"
        "fifth   fifth";
        gap: 1rem;
        width: 100%;
        padding: 4rem 4%;
    }
    
    .card {
        margin: 0;
        width: 100%;
        height: 100%;
    }
    
}

@media only screen and (min-width: 992px) {
    
    .main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "first first  second fifth"
        "third fourth fourth fifth";
    }

    .testimonial__title {
        font-size: 1rem;
    }

}

/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */